.header {
   margin: 35px 0 43px;
   text-align: center;
   @media (max-width: 768px) {
      margin: 35px 0 20px;
   }
}

.title {
   font-weight: 900;
   font-size: 40px;
   line-height: 50px;
   @media (max-width: 768px) {
      font-size: 30px;
   }
   @media (max-width: 550px) {
      font-size: 26px;
   }
}

.subtitle {
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   @media (max-width: 768px) {
      font-size: 27px;
      line-height: 130%;
   }
   @media (max-width: 550px) {
      font-size: 24px;
   }
}

.columns {
   display: flex;
   justify-content: center;
   @media (max-width: 664px) {
      display: block;
   }
}

.column {
   flex: 1;
   margin-bottom: 90px;
   margin-right: 10px;
   &:last-child {
      margin-right: 0;
   }
   @media (max-width: 664px) {
      margin-right: 0;
      &:first-child {
         margin-bottom: 15px;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 40px;
   }
   // .column__title
   &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      color: #028ca6;
      @media (max-width: 768px) {
         font-size: 25px;
      }
   }
   &__texts {
      display: flex;
      flex-direction: column;
      min-height: 420px;
      justify-content: space-between;
      @media (max-width: 664px) {
         min-height: auto;
      }
   }
   // .column__text
   &__text {
      font-weight: 400;
      font-size: 21px;
      line-height: 27px;
      max-width: 578px;
      padding: 15px;
      background: rgba(255, 255, 255, 0.7);
      border: 2px solid #068ca6;
      box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
      border-radius: 10px;
      margin-bottom: 10px;
      &:last-child {
         margin-bottom: 0;
      }
      @media (max-width: 768px) {
         font-size: 18px;
         padding: 10px;
      }
      @media (max-width: 664px) {
         max-width: 100%;
      }
      @media (max-width: 550px) {
         font-size: 16px;
         padding: 6px;
      }
   }
   // .column__img
   &__img {
      width: 300px;
      margin: 0 auto;
      @media (max-width: 375px) {
         width: 100%;
      }
   }
}

.question {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 278px;
   span {
      font-weight: 500;
      font-size: 14px;
      color: #068ca6;
   }
   @media (max-width: 1100px) {
      margin-bottom: 40px;
   }
   @media (max-width: 550px) {
      font-size: 16px;
   }
}

.body {
   position: relative;
   min-height: 650px;
   &__img {
      width: 315px;
      position: relative;
      margin: 0 auto;
      img {
         border-radius: 50%;
         opacity: 0.7;
      }
      @media (max-width: 425px) {
         width: 100%;
      }
      p {
         position: absolute;
         width: 100%;
         top: 73%;
         opacity: 1;
         font-weight: 700;
         font-size: 30px;
         line-height: 35px;
         text-align: center;
         color: #068ca6;
         @media (max-width: 425px) {
            font-size: 24px;
         }
      }
   }
}

.list {
   position: absolute;
   top: -26%;
   left: 50%;
   margin-left: -340px;
   width: 680px;
   min-height: 680px;
   border-radius: 50%;
   @media (max-width: 1100px) {
      display: flex;
      flex-wrap: wrap;
      position: static;
      margin-left: 0;
      width: 100%;
      min-height: auto;
      justify-content: space-evenly;
   }
   & li {
      position: absolute;
      width: 115px;
      height: 117px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      &::after {
         content: "";
         position: absolute;
         background-image: url("../assets/img/group/Picture9.png");
         background-position: center;
         width: 80px;
         height: 70px;
         left: -28px;
         top: -11px;
      }
      p {
         position: absolute;
         top: -23%;
         left: -17%;
         display: inline-block;
         font-weight: 700;
         font-size: 18px;
         line-height: 22px;
         opacity: 0;
         transition: opacity 0.3s;
         cursor: initial;
         @media (max-width: 1100px) {
            position: static;
            background: rgba(255, 255, 255, 0.7);
            border: 2px solid #068ca6;
            box-shadow: 0px 4px 4px rgb(6 140 166 / 31%);
            margin-top: 130px;
            border-radius: 10px;
            padding: 4px;
         }
      }
      @media (max-width: 1100px) {
         position: static;
         transform: translate(0%, 0%);
         margin: 50px 50px 70px 50px;
      }
   }
}

​ .item {
}

.text {
}
